<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'vetclinica/css/styles.css' %}">
</head>
<body>
<!-- Side navigation -->
<div class="sidenav">
  <a href="{% url 'clients' %}">Клиенты</a>
  <a href="{% url 'pets' %}">Питомцы</a>
  <a href="{% url 'veterinarians' %}">Ветеринары</a>
  <a href="{% url 'receptions' %}">Записи на прием</a>
</div>

<!-- Page content -->
<div class="main">
  {% block content %} {% endblock %}
</div>

</body>
</html>