{% extends 'vetclinica/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Контакты</th>
        <th>Дата регистрации</th>
    </tr>
    </thead>
    <tbody>
    {% for client in clients %}
    <tr>
        <td>{{client.first_name}}</td>
        <td>{{client.last_name}}</td>
        <td>{{client.contact}}</td>
        <td>{{client.date_registration}}</td>
    </tr>
    {% endfor %}
    ...
    </tbody>
</table>

<style>
	.table {
	width: 100%;
	margin-bottom: 20px;
	border: 15px solid #F2F8F8;
	border-top: 5px solid #F2F8F8;
	border-collapse: collapse;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #F2F8F8;
	border: none;
	border-bottom: 5px solid #F2F8F8;


}
.table td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid #F2F8F8;
	text-align: center;
}

</style>
{% endblock %}