{% extends 'vetclinica/base.html' %}
{% block content %}
<div class="Mainpage__wrapper">
    <div class="header">
        <div class="title"><h2>{{ title }}</h2></div>
        <div class="btn"><a href="{% url 'clients' %}">Информация о клиентах</a></div>
    </div>
    <div class="description"><span>Главная страница,таблица с клиентами,таблица с питомцами (связана с таблицей владельцев), таблица записи на прием (связана с ветеринарами и услугами)</span>
    </div>
</div>
{% endblock %}
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.Mainpage__wrapper {
  width: 100%;
  height: 100%;
  background: aliceblue;
}

.header {
display: flex;
justify-content: space-around;
align-items: center;
height: 60px;
}

a {
text-decoration: none
}

.contacts {
display: flex;
justify-content: space-between;
margin: 40px;
}

.description {
display: flex;
justify-content: center;
}


</style>