{% extends 'vetclinica/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Кличка</th>
        <th>Порода</th>
        <th>Возраст</th>
        <th>Владелец</th>
    </tr>
    </thead>
    <tbody>
    {% for pet in pets %}
    <tr>
        <td>{{pet.nickname}}</td>
        <td>{{pet.breed}}</td>
        <td>{{pet.age}}</td>
        <td>{{pet.client}}</td>
    </tr>
    {% endfor %}
    ...
    </tbody>
</table>

<style>
	.table {
	width: 100%;
	margin-bottom: 20px;
	border: 15px solid #F2F8F8;
	border-top: 5px solid #F2F8F8;
	border-collapse: collapse;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #F2F8F8;
	border: none;
	border-bottom: 5px solid #F2F8F8;


}
.table td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid #F2F8F8;
	text-align: center;
}

</style>
{% endblock %}