{% extends 'vetclinica/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Клиент</th>
        <th>Врач</th>
        <th>Номер кабинета</th>
        <th>Услуга</th>
        <th>Дата приема</th>
    </tr>
    </thead>
    <tbody>
    {% for rec in receptions %}
    <tr>
        <td>{{rec.pet}}</td>
        <td>{{rec.veterinarian}}</td>
        <td>{{rec.veterinarian.office}}</td>
        <td>{{rec.service}}</td>
        <td>{{rec.date}}</td>
    </tr>
    {% endfor %}
    ...
    </tbody>
</table>

<style>
	.table {
	width: 100%;
	margin-bottom: 20px;
	border: 15px solid #F2F8F8;
	border-top: 5px solid #F2F8F8;
	border-collapse: collapse;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #F2F8F8;
	border: none;
	border-bottom: 5px solid #F2F8F8;


}
.table td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid #F2F8F8;
	text-align: center;
}

</style>
{% endblock %}