{% extends 'vetclinica/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Табельный номер</th>
        <th>Контакты</th>
        <th>Специализация</th>
        <th>Номер кабинета</th>
    </tr>
    </thead>
    <tbody>
    {% for vet in veterinarians %}
    <tr>
        <td>{{vet.service_number}}</td>
        <td>{{vet.contact}}</td>
        <td>{{vet.specialization}}</td>
        <td>{{vet.office}}</td>
    </tr>
    {% endfor %}
    ...
    </tbody>
</table>

<style>
	.table {
	width: 100%;
	margin-bottom: 20px;
	border: 15px solid #F2F8F8;
	border-top: 5px solid #F2F8F8;
	border-collapse: collapse;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #F2F8F8;
	border: none;
	border-bottom: 5px solid #F2F8F8;


}
.table td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid #F2F8F8;
	text-align: center;
}

</style>
{% endblock %}